.DS_Store
2.3/.htaccess
2.3/.htaccess.txt
2.3/robots.txt
2.3/error_log
2.3/php.ini
2.3/config.php
2.3/admin/config.php

2.3/invoice_backup/
2.3/image/
!2.3/admin/view/journal2/lib/ckeditor/plugins/image/
.idea/

2.3/journal-cache/*

2.3/system/storage/upload/temp-*/
2.3/system/storage/upload/*
!2.3/system/storage/upload/index.html
2.3/system/storage/cache/*
2.3/system/storage/logs/*
2.3/system/storage/modification/
2.3/system/storage/download/install.xml
2.3/system/mbooth/backup/

2.3/system/cache/
2.3/system/logs/*
2.3/system/upload/temp-*/
!2.3/system/upload/index.html
2.3/system/modification/

2.3/vqmod/vqcache/
2.3/vqmod/checked.cache
2.3/vqmod/mods.cache
2.3/vqmod/logs/*

2.3/deploy/
2.3/install/